<div class="container mt-5">

    <form  class="create">
  
      <div class="create__field-name">User Name:</div>
      <input type="text" name="user name" placeholder="User Name" [(ngModel)]="theExercise.userName" class="create__user-name" >
  
      <div class="create__field-name">Date:</div>
      <input type="text" name="date" placeholder="Date" [(ngModel)]="theExercise.calendarDate" class="create__date">
  
      <div class="create__field-name">Exercise Name:</div>
      <input type="text" name="exercise name" placeholder="Exercise Name" [(ngModel)]="theExercise.exerciseName" class="create__exercise-name">
  
      <div class="create__field-name">Exercise Description:</div>
      <input type="text" name="description" placeholder="Description" [(ngModel)]="theExercise.description" class="create__description">
  
      <div class="create__field-name">Body Part/Workout Type:</div>
      <input type="text" name="workout type" placeholder="workout Type" [(ngModel)]="theExercise.workoutType" class="create__type">
  
      <button type="submit" class="btn btn-primary" (click)="editExercise(theExercise)"> Submit</button>
  
    </form>
  
  </div>
  