<div class="container mt-5">

  <div class="create">

    <div class="create__field-name">User Name:</div>
    <input type="text" name="user name" placeholder="User Name" [(ngModel)]="newExercise.userName" class="create__user-name" >

    <div class="create__field-name">Date:</div>
    <input type="date" name="date" placeholder="Date" [(ngModel)]="newExercise.calendarDate" class="create__date">

    <div class="create__field-name">Exercise Name:</div>
    <input type="text" name="exercise name" placeholder="Exercise Name" [(ngModel)]="newExercise.exerciseName" class="create__exercise-name">

    <div class="create__field-name">Exercise Description:</div>
    <input type="text" name="description" placeholder="Description" [(ngModel)]="newExercise.description" class="create__description">

    <div class="create__field-name">Body Part/Workout Type:</div>
    <input type="text" name="workout type" placeholder="workout Type" [(ngModel)]="newExercise.workoutType" class="create__type">

  </div>
  <button type="submit" class="btn btn-primary m-5" (click)="create()">Submit</button>
</div>
