<!-- from other site -->

<!-- <a href=""><button type="button" class="btn btn-primary btn-lg btn-block">CREATE YOUR WORKOUT</button></a> -->
<!-- <button type="button" class="btn btn-secondary btn-lg btn-block">Block level button</button> -->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">


    <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop style="width: 100%; height: 100vh;  background-color: black;">
        <!-- <source src="/assets/street.mp4" type="video/mp4"> -->

          <source src="/assets/superhero.mp4" type="video/mp4">        
             Your browser is not supported!
      </video>
    </div>
    </div>
