/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/css/font-awesome.css';

@import './app/create-exercise/create-exercise.component.scss';
@import './app/exercise-list/exercise-list.component.scss';